a {
    text-decoration: none;
}
.mobile__nav {
    display: flex;
    align-items: center;
    @media  (min-width: 768px) {
        display: none;
        
    }
}
.mobile__container {
    width:  100%;
       
}
.mobile__logo {

}

.mobile__type {
}

.mobile__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    // border: none;
    cursor: pointer;

}
.mobile__open {
    opacity: 1;
}

.mobile__close {
    opacity: 0;
}

.header__icons {
    margin: 0;
}

.mobile__list {
display: none;
}

.mobile__item {
display: none;
}

.mobile__link {
display: none;
}

.mobile__contacts {
    display: none;
}

.mobile__contact {

}

.mobile__contact-link {

}