a {
  text-decoration: none;
  color: #212121;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile__nav {
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    display: none;
  }
}
.mobile__container {
  width: 100%;
}
.mobile__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.mobile__type {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__button {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.mobile__icons:hover,
.mobile__icons:focus {
  fill: var(--hover-focus-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__open {
  opacity: 1;
}

.mobile__button.is-active .mobile__open {
  opacity: 0;
}

.mobile__close {
  opacity: 0;
}
.mobile__button.is-active .mobile__close {
  opacity: 1;
}

.mobile__list {
  display: none;
}

.mobile__item {
  display: none;
}

.mobile__link {
  display: none;
}

.mobile__contacts {
  display: none;
}
.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 0;
  transform: translateX(100%);
}

.mobile__menu.is-open {
  opacity: 1;
  transform: translateX(0);
}

.mobile__menu-nav {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile__menu-item {
  padding-left: 40px;
  margin-bottom: 32px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
}
.mobile__menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: #2196f3;
  }
  
}
.mobile__menu-wrapper {
  @media screen and (max-width: 768px) {
    margin-top: auto;
  }
}
.mobile__menu-items {
  padding-left: 40px;
  margin-bottom: 32px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
}
.mobile__menu-contacts {
  margin-bottom: 64px;
}

.mobile__menu-phone {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196f3;
  font-size: 34px;
  line-height: 1.18;

  @media screen and (max-width: 480px) {
    font-size: 28px;
  }
}

.mobile__menu-email {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 1.17;
  color: #757575;
}

.mobile__menu-social {
  display: flex;
  padding-left: 40px;
  margin-right: -15px;
  margin-bottom: -15px;
  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }
}
.mobile__menu-socials {
  margin-right: 15px;
  margin-bottom: 15px;
}
.mobile__menu-socials:not(:last-child) {
  margin-right: 10px;
}
.mobile__menu-links {
  display: block;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
}
.mobile__menu-socials:last-child .mobile__menu-links {
  padding-right: 0;
  border: 0;
}
