/* header */

.header {
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgb(236, 236, 236);

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__list {
  margin-right: 50px;
  min-width: 49px;
}

.header__nav {
  // margin-top: 16px;
  // margin-bottom: 16px;
  // margin-left: 15px;
  display: flex;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  // align-items: center;
}

.header__wrapper {
  margin: 0;
  padding-left: 0;
  // align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.phone {
  margin-top: 10px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 32px;
  }
}

.header__links {
  list-style: none;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

.header__icons {
  margin-right: 10px;
  fill: currentColor;
}

.header__contacts link {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.header__logo {
    display: none;
  @media screen and (min-width: 768px) {
      display: flex;
      // align-items: center;
    }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__list:last-child {
  margin-right: 0;
}

.header__section {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__studio {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.current {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    bottom: -35px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    @media screen and (min-width: 1200px) {
      bottom: -33px;
    }
  }
}

.header__contacts {
  color: rgba(117, 117, 117, 1);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.header__logo,
.footer__logo {
  font-family: var(--secondary-font);
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
